<div class="header">
  <div class="u-pull-right">
    <app-search-box></app-search-box>
  </div>
  <div class="u-pull-right action-link">

    <!--=======================================================================|
    | Purple Path                                                              |
    |==========================================================================|
    | Modifica el enlace para que al hacer clic sobre él navegue a             |
    | '/new-story'.                                                            |
    |========================================================================-->
    <a>Escribe una historia</a>

  </div>
  <div class="u-pull-right">
    <a class="title" routerLink="/">
      <h1>Postium</h1>
    </a>
  </div>
</div>
