<div class="metadata">
  <div class="avatar">
    <img [src]="post.author.avatar">
  </div>
  <div class="author">

    <!--=======================================================================|
    | Red Path                                                                 |
    |==========================================================================|
    | Un clic sobre el autor debería enviar un evento al componente padre.     |
    |========================================================================-->
    <span class="name blink-font">{{ post.author.name }}</span>

    <!--=======================================================================|
    | Blue Path                                                                |
    |==========================================================================|
    | Una vez tengas creado el pipe FromNowPipe, úsalo con la fecha de         |
    | publicación.                                                             |
    |========================================================================-->
    <span class="date">{{ post.publicationDate }}</span>

  </div>
</div>

<!--=======================================================================|
| Green Path                                                               |
|==========================================================================|
| Un clic sobre el post debería enviar un evento al componente padre.      |
|========================================================================-->
<div class="post">
  <h3>{{ post.title }}</h3>
  <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
  <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
</div>
