<div class="header">
    <div class="u-pull-left">
        <!-- TODO Logo -->
    </div>
    <div class="u-pull-right">
        <div class="u-pull-right">
            <search-box></search-box>
        </div>
        <div class="u-pull-right action-link blink-font">
            <!--
            |----------------------------------------------------------------------------|
            | Purple Path                                                                |
            |----------------------------------------------------------------------------|
            | Modifica el enlace para que al hacer clic sobre él navegue a '/new-story'. |
            |----------------------------------------------------------------------------|
            -->
            <a>Escribe una historia</a>
        </div>
    </div>
</div>
