:host {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    font-size: .9em;
    color: rgba(0, 0, 0, .44);
    background: #fff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}

.header {
    max-width: 1000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.action-link {
    padding-top: 19px;
    margin-right: 32px;
}

.action-link a {
    text-decoration: none;
}
