<div>
    <!--
    |--------------------------------------------------------------------------|
    | Yellow Path                                                              |
    |--------------------------------------------------------------------------|
    | Un clic sobre la categoría debería enviar un evento al componente padre. |
    |--------------------------------------------------------------------------|
    -->
    <span class="blink-font" *ngFor="let category of categories">
        {{ category.name }}
    </span>
</div>
